<table id="table" class="table table-striped table-bordered table-sm" data-toggle="table" data-search="true" data-show-export="true" data-pagination="true">
  <thead>
    <tr>
      <% @headers.each do |header| %>
        <th data-field=<%= header %>>
        <%= header %> 
        <% if @sortable_cols.include?(header)%> 
          <%= link_to "↑", show_stats_path(stat: @stat, sort: 'acs', sort_col: header) %> 
          <%= link_to "↓", show_stats_path(stat: @stat, sort: 'desc', sort_col: header) %> 
        <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |data| %>
      <tr>
        <% @headers.each do |stat| %>
            <td>
              <%= data[stat] %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>